<div class= "container">
	<div class = "col-md-11 col-top" style= "margin-top: 60px">
	<h1 style="padding-bottom:20px"> My blog: I do write sometime! </h1>
   </div>
    </div> <!-- end of top--> 



<div class ="row"> 
 	<div class = "col-md-8 col-left">
 	<div class="post">
 	<h2> Now or Never </h2>
 	<img class= "img-responsive" src = "https://s3.amazonaws.com/prabal-assets/nowornever.jpg" alt ="Now or Never" style="padding-top:20px">
 		
 		<p style="padding-top:20px"> 
 			"Let me wait one more month then I am gone from here",

			"I cannot do this anymore",

			"I am not going to do whatever he says",

			"I have been very nice to him/her but not anymore",

			"I cannot work so much for peanuts", "This is the last time I am doing it",

			"Enough is enough" - If you have said one of these to yourself recently then you have come to the right place. 
	     
 		</p>
 		<p>
 			Relax, you are not alone who has gone or is going through it.The good news is there are ways to get over it. Today, it is really hard to get a job what you have been longing to do. Most of us have been through situations at work where the threshold of our tolerance have had reached. Although every individual has a different threshold level of tolerance.So it really depends on the contentment one has. Some are happy with what they are doing, at least found happiness which is a good thing too. We cannot generalize this situation. It is always an individual choice and has always been. But for those who are hanging in between what they are doing and what they wanted to do- the million dollar question: </p>

			<h4> What is stopping you to make the move? </h4>

			<p>I have heard people justifying themselves saying, "Let me gain some experience to put in my resume before I take the next leap". Well the problem is that you are actually gaining experience in something that you do not like anyway and probably is the reason you are looking for a change. Another one said," Just couple of more days before I wrap up and will never show up in this disgusting work place". In this case until you put a strap on yourself, days will be weeks/months/year or it may never happen.</p>

			<p>If you are retiring at say 60 and currently being at 30, technically you have half of your working life remaining to actually do what would make more sense to you than living somebody else`s dream. Having said all that, you need to be practical too. You need to understand the difference between "What do I want to do?" and "What is possible for me to do?" within constraints of time. Time is an important factor in such a game changing decision. Many a times as we grow in our respective career we realize perhaps doing something else would/could have been better. Well, life gives us too many options to try in one single life which may not be feasible to choose from all the time. But some of you reading this are probably at the verge of taking this decision and have not been able to because of the push that you may require.
 		</p>

 		<p>

 			<h4>Here are 10 ways to channelize your thought in the direction which would help you take the giant leap. It could be hard but sure to be worth it:- </h4>

			<p style="padding-top:20px"><b>1. Learning.</b>You don`t need to go to expensive after work classes, neither you would have to spoil your weekends for them. With so much material available online if you are able to spend an hour everyday, you will be a pro in no time. Guess what, nobody would get to know too how you nailed it. We will get outdated very quickly in this constantly changing world. One thing that can keep us up with the race is through learning.</p>
			<p><b>2. Invest in Yourself.</b> Take a new course, get some certification done which will boost your career options in future. Gucci and Prada can wait for the time being at this stage of your career. Invest early to ripe the benefits later. </p>
			<p><b>3. Set Deadlines. </b>They say You cannot complete a task until a deadline is being set. Quite rightly, if you don`t know when to ring the bell and say goodbye to your current employer then days will turn into weeks and weeks will turn into months. Set yourself a deadline and be stringent about it otherwise it is never going to happen. Not in a decade.</p>
			<p><b>4. Being happy.</b> Happiness is not just a smiley :) that you send across after each of your chats and texts. According to Wikipedia, Happiness is a mental or emotional state of well-being characterized by positive or pleasant emotions ranging from contentment to intense joy. In short, do what makes you feel happy. </p>
			<p><b>5. Self-consciousness.</b> "I should be the first person to know that I do not like whatever I am doing". This self realization everyday at work will help you push yourself to take the next step. Nobody else needs to tell you that.</p>
			<p><b>6. Respect thyself.</b> This is the most important factor where you need to respect yourself, believe that you are capable of much more worthy than what you are doing right now. Until you have faith in you and respect for yourself, you aren`t going anywhere.</p>
			<p> <b>7. You and Yourself.</b> When it comes to career choice, leave aside who has done what and focus on what you are doing. Also, what you wanted to do. Bill Gates dropped school which lead him to become a billionaire may not be the case with everyone who drops out from school. Similarly, it boils down to your decision of understanding your potential in your way. As long as you are on the right track, the destination is ought to arrive. You are your own master.</p>
			<p><b> 8. Control our mind.</b> Our minds play a huge role in giving an illusion that we are actually doing what we love to do but the fact remains we are not. That is probably the reason it conflicts with your heart and ultimately disappoints you at work because your heart belonged to somewhere else. Listen to your heart and not mind, if you want to thrive on a peaceful and satisfying career.</p>
			<p><b> 9. Understand Success and Money.</b> They are not necessarily always related. You can be extremely rich all your life but never had much money. Rich - in love, experience, family, friends, where and how you lived, achievement, contribution, satisfaction. Those are the assets that count. Never hold back yourself to do something which pays you well but makes you poor at the same time.</p>
			<p> <b>10. Today is the new Tomorrow.</b> "Tomorrow will never come". We have said this, heard this many times but it is time that we literally sit down and realize it. If you are thinking of doing something tomorrow, with a little bit of push you can actually achieve it today. If that is possible then why not do it today instead. You can fool the entire world but you cannot fool yourself.</p>
			<p> With the above points, I hope this post will help you take that next big step in your career and wish you all the best. You have got one life, live and be remembered for doing what you always wanted to do. Excuses and sky are limitless. Ultimately, it is you who needs to take a stand, fight for yourself and realize its <em>Now or Never</em>!</p>
 		</p>
 	</div> <!--end of post-->
 	<div class="post-meta"> Dated: November 9, 2014  </div>

 	<div class="fb-comments" data-href="http://www.iamprabal.com/" data-width="600" data-numposts="5" data-colorscheme="light"></div>
 	<!-- End of First Post -->
 	<!--Second post begins-->
 	<div class="post">
 	<h2> Got an Email to Reply? STOP!</h2>
 	<img class= "img-responsive"src = "https://s3.amazonaws.com/prabal-assets/emailreply.jpg" alt ="Email Reply" style="padding-top:20px">
 	<p style="padding-top:20px">	
 		Most of the us receive emails from one to many everyday at work. Some of us take no time in replying back those emails the moment we receive it. It is usually all good until one day when we realize one of these situations have occurred-"Shit, I missed the attachment", "Oh well,I forgot to include one more point", " Wait, was I supposed to even reply?" etc. I am sure we all have gone through these at some point of time.<p> 
		<p>We may sometimes come as a belligerent person the way we reply an email. Much of it depends on the time spent on the email before sending it out. Usually, time taken on replying back an email can come as more concise and apt. In short, the more is the better.</p>
		<p>On the other side, we may restlessly wait for an email back from our boss or co-worker.It can get frustrating too at certain times when we realize how important the email is and think that our boss or co-worker does not feel the same way. Lets all accept it, most of us read all the emails we receive, even bosses do but what makes it different is who replies them back early. It takes a different level of mindset, understanding and sometimes psyche of the person to whom one is replying to. While some of us may find it extremely ill mannered not to receive an email reply back after we have sent it which unfortunately the receiver does not think the same way.</p>
		<p>Senior or successful people in the job as we might all have faced, they do not seem to reply back to our emails as early as we might anticipate. There is a reason for that. Reasons are fairly simple though.</p>
		<h4>Here are 11 reasons why it is a good choice to follow their path and wait until we should reply back to an email:- </h4>
		<p style="padding-top:20px">1. They do not like to reply important emails towards the end of the day as they think important decisions need to be taken in the morning when the mind is fresh(So you might have to wait till next day when your boss gets into office if you have sent an email asking for reply on some important decision towards the end of the day).</p>
		<p>2. They understand that effective communication is the key to any successful business. Effective does not necessarily mean quicker response but a reply as if it concludes the conversation.<p>
		<p>3. They do not push it too hard in emails, they give a call back instead. <p>
		<p>4. They do not want to send out an email in hurry to be apologetic in the next email.<p>
		<p>5. They like to understand the entire situation before anything they may want to reply back.<p>
		<p>6. They like to connect the dots(from previous conversations) and also anticipate future
		replies that you may do.<p>
		<p>7. They do not want to make any mistakes knowingly or unknowingly in their replies.<p>
		<p>8. They think an email with appropriate information is better than an insufficient faster email.<p>
		<p>9. They do not get provoked easily by emails.<p>
		<p>10. They mark emails from certain people as unread and like to reply back them when they are at ease.<p>
		<p>11. They usually read the subject and decide when to reply.(Make sure your subject is appealing enough if its an important email to go unnoticed).<p>
		Bottom line is to not reply an email the moment you receive it until its an emergency situation. Take your time to understand the situation, background and spend some extra few seconds/minutes/hours to provide all the necessary information in one single email. Nobody likes to email back and forth regarding the same thing. Next time you receive an email, do not hurry yourself to reply back immediately. An incomplete quick email reply is far annoying than a late well composed email.
		Nevertheless, our email replies speak a lot about us as a person.

 	</p>
 	<div class="post-meta"> Dated: November 3, 2014  </div>
 
 <div class="fb-comments" data-href="http://www.iamprabal.com/" data-width="600" data-numposts="5" data-colorscheme="light"></div>
 	<!--Third post begins-->
    </div>	<!-- End of Second Post -->
 	</div> <!--end of column left-->
 	

<div class = "col-md-3 col-right" style= "margin-top: 20px">
 		<div class = "widget">
 			<img src = "https://s3.amazonaws.com/prabal-assets/Prabal+Dutta.JPG" alt="Prabal Dutta">
 		</div><!-- .widget --> 

 		<div class = "widget">
 			<h3> Follow me </h3>
 			<ul>
 				<li><a href= "https://www.facebook.com/prabal.dutta19" target="_blank" style="color:#e74c3c"> Facebook</a> </li>
 				<li><a href= "https://www.linkedin.com/in/prabaldutta" target="_blank" style="color:#e74c3c"> LinkedIn</a> </li>
 				<li><a href= "https://instagram.com/imprabal" target="_blank" style="color:#e74c3c"> Instagram</a> </li>
 			</ul>
 		</div><!-- .widget --> 

 		<div class="widget">
 			<div class="fb-like" data-href="http://www.iamprabal.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
 		</div>

 		<div class="widget">
					 <h3>Quote of the Day</h3>
					 <blockquote><p>We are what we repeatedly do. Excellence, then, is not an act, but a habit."</p>- Aristotle</blockquote>
				</div><!-- .widget --> 

       


 	    </div> <!--end of column right-->
 	</div> <!--end of row-->
 </div><!-- end of container -->
