<div class = "row">
	<div class = "col-md-2">
		<div class = "thumbnail">
		<img src="http://s3.amazonaws.com/prabal-assets/Homepic.jpg" class="img-rounded" alt="Prabal Dutta" width="75" height="75"> 
		</div>
	</div>
    <div class = "col-md-8">
    
    </div>
    <div class = "col-md-4">
    
    </div>


</div>

<div class="jumbotron">
	<h1>Prabal Dutta</h1>
	<p>My name is Prabal. </p>
	
</div>

