<div class = "row">
	<div class = "col-md-2">
		<div class = "thumbnail">
		<img src="http://s3.amazonaws.com/prabal-assets/Homepic.jpg" class="img-rounded" alt="Prabal Dutta" width="75" height="75"> 
		</div>
	</div>
    <div class = "col-md-8">
    	<div class = "jumbotron" style = "padding: 11px;">
    		<h3 >I’m Prabal</h3>
	<p> </p>
	<p style = "font-size: 16px"> Techie, Explorer, Mentor, <em>Aspiring Entrepreneur </em>! </p>
    	</div>
    </div>
    <div class = "col-md-4">
    
    </div>


</div>

<div class="jumbotron" style = "padding:40px">

 <p style = "font-size: 1em"> Born and raised in India, and currently living in Chicago.  A Computer Engineer graduate intrigued by <strong> design</strong> , <strong> strategy </strong> and <strong>code.</strong>  </p>

<p style = "font-size: 1em">Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it and to be surrounded by those who bring out the best in me.</p>
	
</div>


<div class = "row">
	<div class = "col-md-4">
		<div class = "jumbotron">

		</div>	
	</div>
	<div class = "col-md-4">
		<div class = "jumbotron">

		</div>	
	</div>
	<div class = "col-md-4">
		<div class = "jumbotron">

		</div>	
	</div>
</div>	
  

