<div class = "row" style = "margin-top:80px">
	<div class = "col-md-2">
		<div class = "thumbnail">
		<img src="http://s3.amazonaws.com/prabal-assets/Homepic.jpg" class="img-rounded" alt="Prabal Dutta" width="75" height="75"> 
		</div>
	</div>
    <div class = "col-md-8">
    	<div class = "jumbotron" style = "padding: 11px;">
    		<h3 >I’m Prabal</h3>
	<p> </p>
	<p style = "font-size: 16px"> Techie, Explorer, Mentor, <em>Aspiring Entrepreneur </em>! </p>
    	</div>
    </div>
    <div class = "col-md-4">
    
    </div>


</div>

<div class="jumbotron" style = "padding:40px">

 <p style = "font-size: 1.25em"> Born and raised in India, and currently living in Chicago.  A Computer Engineer graduate by profession thriving to get better each day.</p>

 <p style = "font-size: 1.25em">Intrigued by <strong> design</strong> , <strong> quality </strong>, <strong> strategy </strong> and <strong>code.</strong>  </p>

<p style = "font-size: 1.25em">Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it and to be surrounded by those who bring out the best in me.</p>
	
</div>


<div class = "row">
	<div class = "col-md-4">
		<div class = "jumbotron" style = "padding:20px">
			<div class="button-style1">
			<h4> <strong>  What I do </strong> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h4>
		    </div>
<p class="p-adjust" style= "font-size: 15px;">I am a Quality Automation Engineer. I am currently working for a Fortune 500 company.</p>
		</div>	
	</div>
	<div class = "col-md-4">
		<div class = "jumbotron" style = "padding:20px">
			<div class="button-style2">
			<h4> <strong>What I've done</strong> <span class="glyphicon glyphicon-check" aria-hidden="true"></span></h4>
		    </div>
		<p class ="p-adjust" style= "font-size: 15px;">I am a Quality Automation Engineer by profession. I am currently working for a Fortune 500 company.</p>

		</div>	
	</div>
	<div class = "col-md-4">
		<div class = "jumbotron" style = "padding:20px">
			<div class="button-style3">
			<h4> <strong>Interests & Inspiration</strong> <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> </h4>
		    </div>
		<p class ="p-adjust" style= "font-size: 15px;">I am a Quality Automation Engineer by profession. I am currently working for a Fortune 500 company.</p>

		</div>	
	</div>
</div>	
  

