<div class="container" style= "margin-top:80px">
  
	<div class="jumbotron">
		<h2>My Resume </h2>
		<a href="https://s3.amazonaws.com/prabal-assets/Curriculum+Vitae_+Prabal+Dutta.docx"> MS Word Version <span class="glyphicon glyphicon-cloud-download" aria-hidden="true" style ="font-size:20px"></span></a>
	</div>
  
	<div class = "row">
		<div class = "col-md-4">
			<div class = "left-middle">
               hkjhkjhkhjhjhkhkjhkhkjhjkh hkjhkjhkhjhjhkhkjhkhkjhjkh
 hkjhkjhkhjhjhkhkjhkhkjhjkh
 hkjhkjhkhjhjhkhkjhkhkjhjkh
 hkjhkjhkhjhjhkhkjhkhkjhjkh
 hkjhkjhkhjhjhkhkjhkhkjhjkh


			</div>
        </div>
		
		<div class = "col-md-4">
			<div class = "middle-middle">


			</div>

        </div>
		<div class = "col-md-4">
			<div class = "right-middle">


			</div>

		</div>


	</div>
</div>