<div class="jumbotron" style="margin-top:80px">
		<h2>My Resume </h2>
		<a href="https://s3.amazonaws.com/prabal-assets/Curriculum+Vitae_+Prabal+Dutta.docx"> MS Word Version <span class="glyphicon glyphicon-cloud-download" aria-hidden="true" style ="font-size:20px"></span></a>
	</div>
  
	<div class = "row">
		<div class = "col-md-4" style= "height:350px; width: 500px">
			

	</div>

