<div class="container">
	<nav class= "navbar navbar-default" style = "margin-bottom: -20px">
		<div class = "p-footer">   
               <p> Personal Website | Contact me at iamprabaldutta@gmail.com  </p>

		</div>
</div>