<div class="container">
	<nav class= "navbar navbar-default" style = "margin-bottom: -20px">
		<div class = "p-footer">   
              <!-- <p> Personal Website | Contact me at iamprabaldutta@gmail.com  </p>-->
		<a href="http://www.iamprabal.com" style="padding-right:5px; margin-left:500px">
          <img src="http://s3.amazonaws.com/prabal-assets/logo.jpg", alt = "Prabal Dutta", style="width:170px; height:33px;" >
        </a>
		</div>
</div>