<nav class= "navbar navbar-default" style = "margin-bottom: -20px; ">
	<div class = "p-footer" style = "margin:auto">   
            <p style="float:left; margin-top:8px; color: white"> <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true" style ="font-size:20px"></span> Personal Website | Let's connect </p>

		<a href="http://www.iamprabal.com" style="float:right;margin-top:10px;">
          <img src="http://s3.amazonaws.com/prabal-assets/logo.jpg", alt = "Prabal Dutta", style= "width:170px; height:33px;" >
        </a>
	</div>