<nav class= "navbar navbar-default" style = "margin-bottom: -20px; ">
	<div class = "p-footer" style = "margin:auto">   
            <p style="float:left; margin-top:8px; color: white; padding-left:10px"> &copy; Personal Website &nbsp | &nbsp Let's connect </p>

		<a href="#logo" style="float:right;margin-top:10px; padding-right:20px">
          <img src="http://s3.amazonaws.com/prabal-assets/logo.jpg", alt = "Prabal Dutta", style= "width:170px; height:33px;" >
        </a>
	</div>