<div class= "container" id="logo">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class = "navbar-brand logo" >
       <%= link_to(image_tag("https://s3.amazonaws.com/prabal-assets/logoname.png", :alt => 'Prabal Dutta', :width => 170, :height => 33), "http://www.iamprabal.com") %>
      </div>
      <!-- <%= link_to "", root_path, class: "navbar-brand" %> -->
    </div>
 <!--<div class ="navbar-brand" >
        a href="http://www.iamprabal.com" class = "pull-left">
          <img src="http://s3.amazonaws.com/prabal-assets/logo.jpg", alt = "Prabal Dutta", style="width:170px; height:33px;" >
        </a>
 
        <%= link_to 'About Me!', root_path, style: "color: white" %>
      
     </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li style="margin-top:5px"><a href= "http://waewish.com" target="_blank"> <strong>My Brainchild</strong></a></li>
         <li style="margin-top:5px"><a href= "http://res.cloudinary.com/prabal/image/upload/v1442805240/PrabalDutta-Beatbox-FinalPresentation2_to1uav.pdf" target="_blank"> <strong>Design Work</strong></a></li>
        <li style="margin-top:5px"><a href= "https://medium.com/@prabaldutta" target="_blank"> <strong>Blog</strong></a></li>
        <li style="margin-top:5px"><a href= "https://www.linkedin.com/in/prabaldutta" target="_blank"> <strong>LinkedIn</strong></a></li>
       <li><a href="https://s3.amazonaws.com/prabal-assets/Re%CC%81sume%CC%81_PrabalDutta.pdf" style="padding-right:20px"> <strong>Résumé &nbsp<span class="glyphicon glyphicon-cloud-download" aria-hidden="true" style ="font-size:20px"></span></strong></a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>