<div class= "container">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
       <%= link_to "About Me", root_path, class: "navbar-brand" %>
    </div>
 <!--<div class ="navbar-brand" >
        a href="http://www.iamprabal.com" class = "pull-left">
          <img src="http://s3.amazonaws.com/prabal-assets/logo.jpg", alt = "Prabal Dutta", style="width:170px; height:33px;" >
        </a>
 
        <%= link_to 'About Me!', root_path, style: "color: white" %>
      
     </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href= "https://www.linkedin.com/pub/prabal-dutta/24/117/531">LinkedIn</a> </li>
        <li><%= link_to 'My Resume', resume_path %> </li>
        <li><%= link_to "Contact Me", contact_path %> </li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>